

.comment-list {
    list-style: none;
    padding: 0;
  }
  
  .comment {
    border: 1px solid #ddd; 
    border-radius: 20px; 
    margin-bottom: 20px; 
    padding: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  }
  
  .author {
    margin: 0;
  }
  
  .title {
    margin: 10px 0;
  }
  
  
  .comment-list li:last-child .comment {
    margin-bottom: 0; 
  }
  
  
  .inquiry-main {
    margin-top: 100px;
    margin-bottom: 300px;
  }
  
  .inquiry-main .inqueiry-btn {
    display: flex;
    justify-content: flex-end;
  }

  .inquiry-btn {
    display: flex;
    justify-content: flex-end;
  }